.hg
.svn

# VIM
*.swp
*.swo

*.pyc
*.pyo
*~
__pycache__/

.idea
.mypy_cache
.project
.pydevproject
.vscode
.venv
.cache
.cache/
.gdb_history

site-packages
site-packages/.*
site-packages/.*
bin
include/*.h
include/numpy/
lib_pypy/ctypes_config_cache/_[^_]*_*.py
libpypy-c.*
libpypy3-c.*
pypy-c
pypy/goal/pypy-c
pypy/goal/pypy3-c
pypy/_cache
pypy/doc/*.html
pypy/doc/config/*.html
pypy/doc/discussion/*.html
pypy/module/cpyext/src/*.o
pypy/module/cpyext/test/*.o
pypy/module/test_lib_pypy/ctypes_tests/*.o
pypy/translator/c/src/dtoa.o
pypy/translator/goal/pypy-c
pypy/translator/goal/target*-c
release/
!pypy/tool/release/
rpython/_cache/
rpython/rlib/rvmprof/src/shared/libbacktrace/Makefile
rpython/rlib/rvmprof/src/shared/libbacktrace/config.guess
rpython/rlib/rvmprof/src/shared/libbacktrace/config.h
rpython/rlib/rvmprof/src/shared/libbacktrace/config.log
rpython/rlib/rvmprof/src/shared/libbacktrace/config.status
lib_pypy/__pycache__
lib_pypy/ctypes_config_cache/_*_cache\.py
lib_pypy/ctypes_config_cache/_*_*_\.py
lib_pypy/_libmpdec/*.o
lib_pypy/*_cffi.c
lib_pypy/*/*_cffi.c
lib_pypy/_curses_cffi_check.c
lib_pypy/_pypy_openssl.c
lib_pypy/*.o
lib_pypy/*/*.o
lib_pypy/*.so
lib_pypy/*/*.so
lib_pypy/*.pyd
lib_pypy/Release/
lib_pypy/_blake2/work/
